@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // font-size: calc(10px + 2vmin);
  font-size: 3vmin;
  font-family: "Mulish", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
