article {
  background-color: transparent;
  border: rgb(62, 62, 62) solid 1px;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  color: white;
  background-color: #161a1d;
  background-color: #1b1a18;
  line-height: 1.1;
  P {
    font-size: 1.2rem;
  }
}
